@model IEnumerable<Tabledata>
@{
    ViewData["Title"] = "Index";
}

<h1>Index tabledatas</h1>

<table class="table table-bordered table-striped" style="width:100%; height:fit-content">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Department
            </th>
            <th>
                order
            </th>
            <th>
                Date Created
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td width="25%">
                    @obj.Name
                </td>
                <td width="25%">
                    @obj.Department
                </td>
                <td width="15%">
                    @obj.DisplayOrder
                </td>
                <td width="35%">
                    @obj.CreatedDateTime
                </td>
            </tr>
        }
    </tbody>
</table>

